@import '@/styles/variables';
@import '@/styles/mixins';

.grid {
    display: grid;
    width: 100%;
    gap: $spacing-md;

    &.columns-2 {
        grid-template-columns: repeat(2, 1fr);

        @include respond-to(medium-tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.columns-3 {
        grid-template-columns: repeat(3, 1fr);

        @include respond-to(large-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to(phone) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.columns-4 {
        grid-template-columns: repeat(4, 1fr);

        @include respond-to(laptop) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to(phone) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}